<nlog  autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   throwExceptions="true">
  <variable name="logPath" value="${specialfolder:folder=MyDocuments}\PVK\Log\${applicationName}.log"/>
	<targets>
		<target xsi:type="Trace" name="trace" layout="${time}|${longdate}|${message}"/>
		<target xsi:type="File" name="fileError" layout="${longdate}|${level}|${message}${exception:format=type,message,stacktrace:separator=.:maxInnerExceptionLevel=10:innerFormat=type,message,stacktrace}"
				 fileName="${logPath}" archiveAboveSize="3145728"/>
		<target xsi:type="MessageBox" name="msbox" layout="${message} Доп.инфо: ${exception:format=message}" caption="Ошибка" />
		<target xsi:type="MessageBox" name="msboxInfo" layout="${message}" caption="Информация" />
	</targets>
	<rules>
		<logger name="NHibernate.*" minlevel="Error" writeTo="trace,fileError" final ="true"/>
		<logger name="*" minlevel="Trace" writeTo="trace,fileError" />
		<logger name="*" minlevel="Info" maxlevel="Info"  writeTo="msboxInfo"/>
		<logger name="*" minlevel="Error" writeTo="msbox"/>
	</rules>
</nlog>